@font-face {
    font-family: "Roboto";
    src: url(/fonts/roboto.woff) format(woff), url(/fonts/roboto.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/robotobold.woff) format(woff), url(/fonts/robotobold.woff2) format(woff2);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/robotomedium.woff) format(woff), url(/fonts/robotomedium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: white;

    background-color: rgb(131, 157, 143);
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1147px;
    min-width: 900px;
    margin: 0 auto;
}

.nav__list,
.nav__sublist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.nav__sublist {
    display: none;
    position: absolute;
}

.main__nav {
    display: flex;
    justify-content: space-between;
}

.nav__container {
    display: flex;   
}

.nav__list {
    padding-top: 14px;
}

.nav__logo {
    margin-right: 10px;
}

.nav__item-left {
    line-height: 16px;
    font-weight: 700;    
}

.nav__item:not(:first-child) {
    margin-left: 1px;
}

.nav__link {
    display: block;
    padding: 7px 12px 8px 13px;

    background-color: tomato;
    border-radius: 18px;
}

.nav__list-right {
    font-size: 14px;
    line-height: 16px;
}

.item__search {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
}

.item__enter{
    position: relative;
    padding-left: 28px;
}

.item__enter::before {
    content: "";
    position: absolute;
    background-image: url('/img/Enter.png');
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    left: 2px;
    top: 1px;
}

.item__basket {
    position: relative;
    padding-left: 21px;
    margin-right: 6px;
}

.item__basket::before {
    content: "";
    position: absolute;
    background-image: url('/img/basket.png');
    width: 21px;
    height: 21px;
    left: 2px;
}


